# Inherit sensible defaults to align with other C++ codebases at Datadog
BasedOnStyle: Google
Language: Cpp

# 88 is narrow enough for side-by-side review, with significant breathing room over 80
ColumnLimit: 88

# When an argument list is split across multiple lines, indent them all one level rather
# than arbitrarily lining them up with the open paren, and place the closing paren on
# its own line
AlignAfterOpenBracket: BlockIndent

# When an argument list is too long to fit on one line, give each parameter its own line
BinPackArguments: false
BinPackParameters: false

# Specify a consistent ordering for include directives
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  # System headers ending in .h
  - Regex: '^<.*\.h>'
    Priority: 1
  # System headers (e.g. <cstdio> after <stdio.h>)
  - Regex: '^<.*>'
    Priority: 2
  # Third-party dependencies (hhinant/date, Crashpad client, etc.)
  - Regex: '^"(date|client|nlohmann)/'
    Priority: 3
  # Private datadog headers: these go after public headers, but we match them first
  - Regex: '^"datadog/(c|cpp|impl)/'
    Priority: 5
  # Public datadog API: datadog.h, datadog.hpp, and datadog/*
  - Regex: '^"datadog(/|\.)'
    Priority: 4
  # All other headers
  - Regex: '^".*"'
    Priority: 6
