---
Checks: >-
  clang-diagnostic-*,
  clang-analyzer-*,

  google-*,
  concurrency-*,
  
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-do-while,

  performance-*,
  portability-*,
FormatStyle: chromium
