---
Checks: >-
  clang-diagnostic-*,
  clang-analyzer-*,

  google-*,
  concurrency-*,
  
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-do-while,
  -cppcoreguidelines-non-private-member-variables-in-classes,

  performance-*,
  portability-*,
FormatStyle: chromium
