---
Checks: >
  clang-diagnostic-*,

  clang-analyzer-*,

  bugprone-*,
  -bugprone-easily-swappable-parameters,

  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-simplify-boolean-expr,
  -readability-uppercase-literal-suffix,
  -readability-redundant-access-specifiers,

  performance-*,

  portability-*,

  concurrency-*,

  google-*,
  -google-readability-todo

WarningsAsErrors: '*'

HeaderFilterRegex: '(src/|tests/).*'
